body {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefa{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px auto;
  height: 300px auto;
  background-color: #004c94;
}
h2{
  background-color: #007bff;
  padding: 0.4rem;
  width: 600px;
  color: aliceblue;
  font-size: 1.1rem;
  text-align: center;
}
h1{
  background-color: #007bff;
  padding: 0.4rem;
  width: 800px;
  margin-top: 6px;
  color: aliceblue;
  font-size: 1.1rem;
  text-align: center;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #004c94;
    padding: 5px 10px;
}
.nav{
  background-color: #007bff;
  padding: 5px;
  width: 800px;
  height: 30px;
  color: aliceblue;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav ul a{
  margin: 40px;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  -moz-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
  color: #004c94;
}
.nav ul a:hover {
    color: #007bff;
    background-color:#004c94 ;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.novoAdm{
  margin: 4px;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  font-size: 1.1rem;
  -moz-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
  color: #007bff;
  background-color:#004c94;
}
.novoAdm:hover {
    color: #004c94;
    background-color:#007bff;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}